@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2&display=swap');
.navbar{
    position: sticky;
    box-sizing: border-box;
    padding: 5px;
    width: 97%;
    margin: auto;
    background-color: tomato;
}

.navbar img{
    border: white;
}

.navbar span{
    margin: 30px 30px;
    cursor: pointer;
}

.navbar b{
    position: relative;
}